<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/ask.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Guia Perguntas</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">
            <img src="/img/guia.png" alt="Logo">
        </a>
    </nav>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-dark">
                <h2 class="text-white">Perguntar</h2>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="titulo">Digite o titulo</label>
                        <input type="text" name="titulo" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="descricao">Digite a pergunta</label>
                        <textarea name="descricao" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-outline-dark">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>