.col-3 .card {
  min-height: 300px;
}

.col-3 .card-header {
  min-height: 100px;
  display: flex;
  align-items: center;
}
.col-3 .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
